body{
  padding: 0px;
  margin: 0px;
  margin-left: 50px;
  margin-right: 50px;
}
.all-control{
  text-align: center;
  margin-top: 75px;
  padding-bottom: 50px;
  border: 1px solid gray;
  background-color: gray;
}
.head-title{
  font-family: "arial", Myriad Pro, cursive;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}
.head-life{
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}
.body-lobby{
  margin-top: 50px;
}
.body-lobby-control{
  margin-top: 80px;
}
.question_Number{
  font-size: 60px;
  font-weight: bold;
  font-family: "Last Ninja", Impact, fantasy;
}
.game-text{
  margin-top: 150px;
}
.game-control{
  margin-top: 50px;
}
.gameover-text{
  margin-top: 50px;
  font-weight: bold;
  font-size: 50px;
  color: #ee0022;
}
.gameover-text-succesful{
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  color: #44ddff;
}
#lobbyBut{
  font-size:20px;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 20px;
}
#gameBut{
  font-family: Georgia, "Times New Roman", serif;
  font-size:25px;
  font-weight: bold;
  width: 120px;
  height: 70px;
  border-radius: 4px;
  margin-left: 20px;
}
